@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container {
    background-image: url(/Background.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    max-width: 50%;
    min-height: 50%;
    justify-content: center;
    box-shadow: 0 0 5px #808080;
    border-radius: 5%;
}

.form,
.info {
    min-width: 60%;
    min-height: 100%;
}

.info {
    background-color: #013243;
    text-align: center;
    border-radius: 5% 0px 0px 5%;
    margin-bottom: 0px;
}

.name {
    padding-top: 30px;
    color: whitesmoke;
}

.grade {
    padding-top: 12px;
    padding-bottom: 50px;
    color: lightblue;
}

img {
    max-width: 60%;
    min-height: 64%;
    margin: 0 auto;
}

.form {
    background-color: white;
    border-radius: 0% 5% 5% 0%;
}

.login {
    padding-top: 30px;
    color: black;
    padding-left: 20px;
    font-weight: bolder;
}

.formgroup {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding-left: 20px;
}

.formgroup label {
    font-weight: bolder;
}

.formgroup input {
    margin-top: 5px;
    border-style: none;
    box-shadow: 0 0 5px gray;
    padding: 10px;
    width: 80%;
    border-radius: 1%;
}

.agreeCheck {
    padding-left: 20px;
    width: 80%;
    line-height: 23px;
    font-size: 1.125rem;
    padding-top: 10px;
    padding-bottom: 0px;
}

.termsAgreement a {
    font-weight: 700;
    color: #013243;
}

.form button {
    border-radius: 5px;
    background-color: #013243;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    margin-left: 20px;
    width: 80%;
}